/* sidebar style */

@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: #f2f2f2;
		height: 100vh;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left: 0%!important;
	}
}


.sidebar{
	width: 18%;
	background: #fff;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 99999999999999999999999999999999999;
}

.sidebar a{
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: darkgray;
	padding-top: 15px;
}
.sidebar a:hover{
	background: #e2e2e2;
}
.sidebar .divider{
	height: 5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
}
.content{
	margin-left: 20%;
}
.sidebar .crosBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 30px;
	cursor: pointer;
}