<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>

<body>
	<section class="allBackground">
		<div class="container">
			<div class="col-md-8 offset-md-2">

				<div class="my-card mt-5">

					
					<div class="container text-center">
						<img style="width: 80px;" src="" th:src="@{/image/write.png}">
					</div>

					<h1 class="text-center">Register Here!!!</h1>
					<form action="" th:action="@{/do_register}" method="post" th:object="${user}">

						<!--Name-->
						<div class="form-group">
							<label for="name_field">Your Name</label>
							<input type="text" class="form-control"
							 id="name_field" aria-describedby="emailHelp"
								placeholder="Enter here" required th:value="${user.name}" name="name">
						</div>
						
						
						<!--Email-->
						<div class="form-group">
							<label for="email_field">Your Email</label>
							<input type="email" class="form-control" id="email_field" aria-describedby="emailHelp"
								placeholder="Email" required th:value="${user.email}" name="email">
						</div>

						<!--Password-->
						<div class="form-group">
							<label for="password_field">Password</label>
							<input type="password" class="form-control" id="password_field" aria-describedby="emailHelp"
								placeholder="Password" required name="password">
						</div>

						<!--User about-->
						<div class="form-group">
							<label>About</label>
							<textarea th:value="${user.about}" class="form-control" rows="10"
								placeholder="Enter about your self" name="about"></textarea>
						</div>

						<!--Check Box -->

						<div class="form-group form-check">

							<input type="checkbox" name="agreement" class="form-check-input" id="agreement" />
							<label for="agreement">Accept Term and Condition*</label>

						</div>

						<div class="container text-center">
							<button type="submit" class="btn bg-primary text-white">
								Submit
							</button>

							<button type="reset" class="btn btn-warning text-white">
								Reset
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>

</body>

</html>